@media screen and (mix-width: 768px){
  .footer{
    display: flex;
    grid-area: footer;
    max-width: 80vw; 
    width: 100%;
    background-color: antiquewhite;
    border: solis 1px;
}
.footer_menu_list{
    display: flex;
    max-width: 80vw;
    width: 100%;
    justify-content:space-between;
    align-items: center;  
}
.footer_list_item{
    display: flex;
    width: 200px;
    height: 109px;
    padding-left: 40px;
    margin-top: 20px;
    list-style-type: none;  
}  
}

@media screen and (min-width: 400px) and (max-width: 599px){
    footer {
        display: none; 
    }
}
@media screen and (min-width: 767.98px){
  .wrapper{
    display: grid;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(100px, auto);
    max-width: 90vw;
    width: 100%;
    margin: 0 auto;
    justify-content:center ;
    align-items: center;
    grid-template-areas: 
    "header header"
    "main aside" ;  
}  
}
.header{
    grid-area: header;
    display: flex;
    max-width: 80vw;
    width: 100%;  
    margin: 0 auto;
}
.header_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo{
    display: flex;
    padding: 100px;
}
.header_menu{
    display: flex;
}
.menu_list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}
.menu_list_link {
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 74px;
    color: #090909;
    text-decoration: none;
    padding: 40px;
}
.menu_icon {
    display: flex;     
}
.menu_icon_png{
    display: flex;
    width: 32px;
    height: 10px;
    justify-content:center; 
}
.menu_button {
    width: 142px;
    height: 54px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: #ff9C08;
    color: #090909;
    font-size: 16px;
    font-weight: bold;
}
.main{
    grid-area: main;
    max-width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
.main_text{
    max-width: 100%;
    display: inline;
    justify-content: center;
    align-items: center;
    padding-left: 60px;
    margin: auto;
}
.main_text_h1{
    justify-content: center;
    font-size: 60px;
    font-weight: 700;
    
}
.main_text_h4{
    font-size: 24px;
    font-weight: 400;
    width: 600px;
    color: #6e6e6e;
}
.main_button{
    display: flex;
}
.main_button_1{
    width: 180px;
    height: 71px;
    border-radius: 10px;
    background-color: #ff9C08;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}
.main_button_2{
    width: 225px;
    height: 73px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border-radius: 10px;
    border-color:#6e6e6e ;
}
.aside{
    grid-area: aside;
    display: flex;
    max-width: 35%;
    padding: 5px;
}
.aside_image{
    width: 100%;
}